.main-container {
  display: flex;
  padding-right: 24px;
}

.product-container {
  display: flex;
  gap: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.item {
  font-size: 14px;
}

button {
  border: none;
  background-color: unset;
}

@media (max-width: 850px) {
  .product-container {
    flex-direction: column;
  }
}
